body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0px;
    font-weight: bold;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    padding: 20px;
    row-gap: 25px;
    align-items: center;
    background-color: aqua;
}

.game-container-title {
    font-size: 32px;
    font-weight: bolder;
}

.game-container div {
    column-gap: 10px;
}

.info-display{
    display: flex;
    justify-content: center
}

.info-player, .info-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    row-gap: 15px;
    width: 200px;
    padding: 20px;
}

.info-player {
    background-color: bisque;
}

.info-computer {
    background-color: grey;
}

.info-rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-rounds p {
    font-size: 26px;
}

.info-text {
    font-size: 20px;
}

.game-controls {
    display: flex;
    width: 300px;
    justify-content: center;
    padding-bottom: 8px;
}

.game-controls button {
    width: 90px;
}

#game-controls2 {  /* Overrides .gameControls */
    padding-bottom: 0px;
}


